<h1 class="center">{{title}}</h1>

<table class="center">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
    <th></th>
  </tr>

  @for (item of menuItems; track $index) {
    <tr>
      <td [class.soldOut]="item.soldOut">{{item.name}}
        @if (item.soldOut == true) {(SOLD OUT)}
      </td>

      <td>{{item.category}}</td>

      <td>{{item.price}}</td>

      @if (item.vegetarian == true) {
        <td>Vegetarian</td>
      }
      @else {<td></td>}

    <button class="button" [disabled]="item.soldOut">Add to Order</button>
    </tr>
  }
</table>